html{
  box-sizing: border-box;
}
*, *::before, *::after{
  box-sizing: inherit;
}

/* css for all */

  body{
    background: #333333;
  }

  h1{
    color: white;
  }

/* css for nav.php */

  .navigation{
    position: sticky;
    top: 0;
    z-index: 30;
  }

  .navigation nav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 4vw;
    background: #8ebf42;
    margin-bottom: 2vw;
  }

  .navigation nav a{
    display: inline-block;
    text-decoration: none;
    font-size: 2vw;
    font-weight: bold;
    color: #333333;
    padding-left: 2vw;
  }

  .navigation nav a:last-of-type{
    padding-right: 3vw;
  }

  .navigation .this-page{
    color: white;
  }

/* css for index.php */

  /* image and website description */
  .info-container{
    display: flex;
    justify-content: center;
  }

  .info-container .image img{
    width: 100%;
    padding-top: 0;
  }

  .index-body h1{
    text-align: center;
    color: white;
  }

  /* login and signup forms */
  .form-body{
    display: flex;
    justify-content: center;
    font-family: Roboto, Arial, sans-serif;
    font-size: 15px;
  }

  .form-form{
    background: white;
    border: 5px solid #8ebf42;
  }

  .form-input{
    width: 100%;
    padding: 16px 8px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  .form-button{
    background-color: #8ebf42;
     color: white;
     padding: 14px 0;
     margin: 10px 0;
     border: none;
     cursor: pointer;
     width: 100%;
  }

  .form-button:hover{
    opacity: 0.9;
  }

  .form-body h2{
    text-align:center;
    font-size:18;
  }

  .form-container{
     text-align: left;
     margin: 24px 50px 12px;
  }

  .container{
    padding: 16px 0;
    text-align:left;
  }

  /* logout form */
  .form-form-logout{
    background: white;
    border: 5px solid #8ebf42;
    width: 25%;
  }

  .form-button-logout{
    background-color: #8ebf42;
     color: white;
     padding: 14px 0;
     margin: 10px 0;
     border: none;
     cursor: pointer;
     width: 50%;
     transform: translateX(50%);
  }

  .form-button-logout:hover{
    opacity: 0.9;
  }

/* css for expenses.php */



  /* budget form and expense form */
  .expense-container label:first-of-type{
    padding-left: 0;
  }

  .expense-container label{
    padding-left: 1vw;
  }

  .form-expense-input{
    padding: 16px 8px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  /* button to display more froms */
  .button-container{
    display: flex;
    justify-content: center;
  }

  .round-button{
     background: white;
     height: 50px;
     width: 50px;
     border-radius: 50%;
     padding: 0;
     border: 3px solid #8ebf42;
     text-align: center;
     text-decoration: none;
     outline: none;
     font-size: 25px;
  }

  .round-button:hover{
    opacity: 0.9;
  }

  .round-button:active{
    border: 3px solid black;
  }
